<div class="container-fluid card-top">
    <div class="d-flex ps-5">
        <ng-container *ngFor="let cat of categoryList">
            <div class="item" [ngClass]="{'category-active':cat.category===selectedCategory}">
                <a class="category-link" (click)="selectedCategory=cat.category">
                    <img class="category-image " [src]="cat.imageUrl">
                    <h6 class="text-center">{{cat.name}}</h6>
                </a>
            </div>
        </ng-container>
    </div>
</div>

<div class="container-fluid py-0 card mt-3">
    <div class="row">
        <ng-container *ngFor="let prod of filteredProductStore|category:selectedCategory;let i=index">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <app-product [product]=prod></app-product>
            </div>
        </ng-container>
    </div>
</div>