<header class="sticky-md-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 " routerLink="/">
        <span>
          <fa-icon [icon]="['fas','truck-moving']" [styles]="{ color: 'white'}" size="lg"></fa-icon>
        </span>
        Un-Flipkart
      </a>
      <div class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <div class="nav-item ">
          <form (submit)="$event.preventDefault()" class=" d-flex my-2 my-lg-0 position-relative">
            <input #globalSearch autocomplete="off" class="form-control me-sm-2" id="globalSearch" type="text" placeholder="Search for products, brands & more" (keyup)="filterProducts($event)">
            <fa-icon id="searchLogo" class="position-absolute" [icon]="['fas','search']" [styles]="{ color: '#0d6efd'}" size="lg" (click)="filterProducts(globalSearch.value)"></fa-icon>
          </form>
        </div> 
      </div>
      <div routerLink="/cart" class="nav-item me-0 ms-auto d-flex align-items-center">
        <a  class="position-relative ">
          <fa-icon class="fs-4 nav-link p-1" [icon]="['fas','cart-arrow-down']" [styles]="{ color: 'white' }" size="lg">
          </fa-icon>
          <span  id="cart-badge" class="position-absolute  translate-middle badge rounded-pill bg-danger" [ngClass]="{'visually-hidden':totalItem==0}">
          {{totalItem}}
        </span>
      </a>
      <span class="text-white fs-5">Cart</span>
      </div>
    </div>
  </nav>


</header>