.product-image{
    width: 200px;
    height: 200px;
    cursor: pointer;
    // aspect-ratio: 1/1;
&:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
}
.card-title,.card-text{
    text-overflow: ellipsis;
    max-width: 100ch;
}